.battlecards {
    display: grid;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 30px;

    grid-template-columns: repeat(3, 1fr);
}

.battlecards-card {
    width: 80px;
    height: 108px;

    border-radius: 4px;
    border: 1px dashed;

    background-color: rgba(0, 0, 0, 0.5);
}

.battlecards-cardattack {
    width: 80px;

    transition: margin 0.25s;
}

.battlecards-carddef {
    width: 80px;

    margin-top: -78px;

    transition: margin 0.25s;
}

.battlecard-cards {
    display: flex;

    width: 80px;
    height: 108px;

    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .battlecards {
        display: grid;
        position: absolute;
        
        top: 50%;
        left: 58%;
        transform: translate(-50%, -50%);
    
        gap: 5px;
    
        grid-template-columns: repeat(3, 1fr);
    }

    .battlecards-card {
        width: 70px;
        height: 96px;
    
        border-radius: 4px;
        border: 1px dashed;
    
        background-color: rgba(0, 0, 0, 0.5);
    }
    .battlecards-cardattack {
        width: 70px;
    
        transition: margin 0.25s;
    }
    
    .battlecards-carddef {
        width: 70px;
    
        margin-top: -78px;
    
        transition: margin 0.25s;
    }
}
