.player {
    display: flex;

    box-sizing: border-box1;

    flex-direction: column;
}

.player-nickname {
    display: flex;

    font-weight: 700;
    font-size: 1rem;
    color: rgb(0, 0, 0);

    gap: 4px;

    align-items: center;
}

.moveindicator {
    width: 10px;
}

.deck {
    display: flex;

    flex-direction: row;
}

.deck-img {
    width: 80px;
    margin-right: -36px;

    transition: margin 0.25s;
}

.deck-img:hover {
    margin-top: -13px;
    margin-bottom: 13px;
}

.defindicator{
    width: 10px;
    filter: invert(1);
}

.retrindicator{
    width: 10px;
    filter: invert(0.5);
}