.button {
    font-size: 1rem;
    font-weight: 800;

    font-family: Nunito;

    border: 1px solid red;
    border-radius: 6px;

    transition: border 1s;

    cursor: pointer;
}

.button:focus {
    offset: 0px;
}

.button:hover {
    border-color: aqua;
}