.creategame {
    display: flex;
    position: fixed;

    background: linear-gradient(83deg, rgb(42, 158, 18) 0%, rgba(40,207,76,1) 100%);
    border-radius: 6px;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 8px;

    gap: 12px;

    flex-direction: column;
    justify-content: space-between;

    width: 800px;
    height: 600px;
}
.creategame > div {
    margin: 0px auto;
}

.creategame__settings {
    display: flex;

    width: 100%;

    gap: 12px;
    flex-direction: column;
}

.creategame__settings > div {
    display: flex;
    flex-direction: row;

    gap: 8px
}

.creategame__settings > div > span {
    font-weight: 600;
}

.mainplayer {
    position: fixed;

    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

.otherplayers {
    display: flex;
    position: fixed;

    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);

    flex-direction: row;

    gap: 100px;
}

.otherplayers > div {
    display: flex;
    flex-direction: column;

    position:relative;
}

.mpbuttonaction {
    position: fixed;

    left: 50%;
    top: 70%;

    transform: translate(-50%, -50%);
}

.buttonaction-notactive {
    display: none;
}

.otbuttonaction {
    position: absolute;

    top: 130%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.tokengame {
    display: flex;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    flex-direction: column;
    text-align: center;

    background-color: rgb(3, 173, 3);
    border-radius: 6px;

    font-size: 1.1rem;
    font-weight: 800;
    
    padding: 4px;
}

@media screen and (max-width: 847px) {
    .creategame {
        display: flex;
        position: fixed;
    
        background: linear-gradient(83deg, rgb(42, 158, 18) 0%, rgba(40,207,76,1) 100%);
        border-radius: 6px;
    
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        padding: 10px 8px;
    
        gap: 12px;
    
        flex-direction: column;
        justify-content: space-between;
    
        width: 90vw;
        height: 600px;
    }
}

@media screen and (max-height: 720px) {
    .creategame {
        top: 50%;
    }
}